#protocols-panel {
  flex-direction: column;
}

#protocols-panel-header {
  display: flex;
  align-items: center;
  flex: 1 0 40px;
  background-color: lightgray;
}

#protocols-panel-header button {
  display: flex;
  margin: 0;
  width: calc(100% / 8);
  justify-content: center;
  border: none;
  background-color: transparent;
}

#protocols-panel-body {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-y: scroll;
}

#protocols-panel-body div {
  display: flex;
  align-items: center;
  flex: 1 0 40px;
}

#protocols-panel-body div:hover {
  background-color: lightgray;
  opacity: 0.5;
}

#protocols-panel-body div p {
  display: flex;
  margin: 0;
  width: calc(100% / 8);
  justify-content: center;
}
