[Desktop Entry]
Type=Application
Name=cryptoinfo
Exec=sh /opt/cryptoinfo/run.sh
Icon=/opt/cryptoinfo/icon.png
Comment=show crypto currency information
Categories=Tool;Crypto;Qt;
Terminal=false
