<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cryptoinfo</title>
    <style></style>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/homepanel.css" />
    <link rel="stylesheet" href="css/protocols.css" />
    <link rel="stylesheet" href="css/sidebar.css" />
    <link rel="icon" href="image/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header id="top-bar">
      <div>总市值: {{ totalMarketCap }}美元</div>
      <div>24h交易量: {{ total24hVolumn }} 美元</div>
      <div
        :class="[btcNextHalvingdaysleft > 180 ? 'upPrecent' : 'downPrecent']"
      >
        BTC减半周期: {{ btcNextHalvingdaysleft }}天
      </div>
      <div :class="[btcPercentOfMarketCap > 50 ? 'downPrecent' : 'upPrecent']">
        BTC市值: {{ btcPercentOfMarketCap }}%
      </div>
      <div
          v-if="upPercent >= 0"
          :class="[upPercent > 50 ? 'upPrecent' : 'downPrecent']">
        24h上涨: {{ upPercent }}%
      </div>
      <div :class="[fearGreedToday > 50 ? 'upPrecent' : 'downPrecent']">
        贪婪指数: {{ fearGreedToday }} / {{ fearGreadYesterday }}
      </div>
      <div v-if="updateTime">更新时间: {{ updateTime }}</div>
    </header>

    <div id="main-field">
      <div id="sidebar">
        <sidebar-item :item="btnItems.homePanel"> </sidebar-item>
        <sidebar-item :item="btnItems.protocolsPanel"> </sidebar-item>
      </div>

      <div id="panel-field">
        <div id="home-panel" class="showPanel">
          <home-panel-header
            id="home-panel-header"
            :items="headerItems"
            :sort_items="sortItems"
            :item_index="headerItemIndex"
          ></home-panel-header>
          <div id="home-panel-body">
            <home-panel-body-item
              v-for="item in items"
              :items="item.info"
              :checked="item.checked"
              :class="[item.isUpPercent ? 'upPrecent' : 'downPrecent']"
            ></home-panel-body-item>
          </div>
        </div>
        <div id="protocols-panel" class="hidePanel">
          <protocols-panel-header
            id="protocols-panel-header"
            :items="headerItems"
            :sort_items="sortItems"
            :item_index="headerItemIndex"
          ></protocols-panel-header>
          <div id="protocols-panel-body">
            <protocols-panel-body-item
              v-for="item in items"
              :items="item.info"
              :class="[item.isUpPercent ? 'upPrecent' : 'downPrecent']"
            ></protocols-panel-body-item>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/vue.global.js"></script>
    <script type="text/javascript" src="js/gconst.js"></script>
    <script type="text/javascript" src="js/utility.js"></script>
    <script type="text/javascript" src="js/topbar.js"></script>
    <script type="text/javascript" src="js/home-panel.js"></script>
    <script type="text/javascript" src="js/protocols-panel.js"></script>
    <script type="text/javascript" src="js/sidebar.js"></script>
  </body>
</html>
